/* 
Lab: Basics Grids and Flexbox
=== Do not change CSS below === 
*/


* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1rem;
    line-height: 1.29rem;
    padding: 0;
    margin: 0;
    color: white;
	height: 26.8rem;
	display: grid;
	background: url("pastry.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
	

}

header {
	
 display: grid;
    padding: 40px 20px 40px 20px;
    background-color: whitesmoke;
    grid-template-columns: 50% 50%;
}

main {
    padding: 1rem;
	grid-row-gap: 25px;
}



nav {
    
	margin-right: 2.68px;
	text-align: right;
    margin-left: 10.7rem;
	
}

a {
    text-decoration: none;
    color: #3B3B3B;
    margin: 1rem;
	
}

h1 {
	font-family: 'Abril Fatface';
    font-weight: normal;
    font-size: 3.6rem;
    color: black;
    margin-top: 10%;
	margin-left: 32.14rem;
}



p {
	display: grid;
	grid-template-columns: 50% 50%;
	background-color: #262D33;
	padding-top: 1rem;
		padding-bottom: 1rem;
	padding-left: 2.68rem;
	padding-right: 2.68rem;
	width: 75%;
	margin-left: 12%;
	font-size: 0.9rem;
	text-align: center;
	margin-top:-3.75rem;
	opacity: 0.7;
	
}
.column {
  float: right;
}

img {
	margin-left: 25%;
}
#margin {
	margin-left: 30%;
	margin-right: 30%;
}
/* === Add New CSS Below === */
